# Java və kompilə edilmiş fayllar
*.class
*.log
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven və ya Gradle Wrapper cache
.gradle/
build/
target/

# OS spesifik fayllar
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Runtime fayllar
tmp/
*.tmp

# ENV və gizli config
.env
*.env

# VS Code üçün
.vscode/

# Test nəticələri
test-output/
coverage/
jacoco-report/

# Local db faylları (əgər varsa)
*.h2.db

# Spring Boot devtools cache
.spring-boot-devtools.properties

# Linux/macOS executable fayllar
*.swp
*.swo
